credentials:
  prod_ssh:
    passphrase: "your_ssh_key_passphrase"
  prod_db:
    password: "your_production_db_password"
  dev_ssh:
    passphrase: "your_ssh_key_passphrase"
  dev_db:
    password: "your_development_db_password"
